@{
    Layout = "~/Views/Shared/Layout1.cshtml";

}
<style>
    .baseUserInfo {
        background-color: #e7edef;
        height:70px;
    }
  .baseUserInfo  ul {
        display: inline-block;
        list-style: none;
        padding: 5px 10px;

       
    }
    .baseUserInfo ul li {
        display: inline; 
        margin-left: 60px;
    }
    .baseUserInfo ul li:hover{color:aqua}
        .baseUserInfo img {
            width: 50px;
            margin-top: 5px;
            border-radius: 30px;
            height: 50px;
        }
</style>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="Dreamer-1.">

    <!-- 引入各种CSS样式表 -->


    <link href="~/Content/Personindex.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <title>个人中心页</title>
</head>
<!-- 左侧菜单选项========================================= -->
<div class="container-fluid">
    <div class="row-fluie">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <!-- 一级菜单 -->
                <li class="active">
                    <a href="#userMeun" class="nav-header menu-first collapsed" data-toggle="collapse">
                        <i class="fa fa-user"></i>&nbsp; 个人中心<span class="sr-only">(current)</span>
                    </a>
                </li>
                <!-- 二级菜单 -->
                <!-- 注意一级菜单中<a>标签内的href="#……"里面的内容要与二级菜单中<ul>标签内的id="……"里面的内容一致 -->
                <ul id="userMeun" class="nav nav-list collapse menu-second">
                    <li>@Ajax.ActionLink("修改信息","Index","User","",new AjaxOptions { UpdateTargetId="content"})</li>
                </ul>

                <li>
                    <a href="#productMeun" class="nav-header menu-first collapsed" data-toggle="collapse">
                        <i class="fa fa-globe"></i>&nbsp; 我的收藏 <span class="sr-only">(current)</span>
                    </a>
                </li>
                <ul id="productMeun" class="nav nav-list collapse menu-second">
                    <li>@Ajax.ActionLink("收藏列表", "FavoriteIndex", "Favorite", "", new AjaxOptions { UpdateTargetId = "content" })</li>
                   
                </ul>

                <li>
                    <a href="#recordMeun" class="nav-header menu-first collapsed" data-toggle="collapse">
                        <i class="fa fa-file-text"></i>&nbsp; 我的订单<span class="sr-only">(current)</span>
                    </a>
                </li>
                <ul id="recordMeun" class="nav nav-list collapse menu-second">
                    <li>@Ajax.ActionLink("已完成订单", "Right", "", "", new AjaxOptions { UpdateTargetId = "content" })</li>
                    <li>@Ajax.ActionLink("未完成订单", "SelectOrder", "Orders", "", new AjaxOptions { UpdateTargetId = "content" })</li>
                </ul>

            </ul>

        </div>
    </div>
</div>

<!-- 右侧内容展示==================================================   -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="right" >
    <div class="userInfo">
        <div class="baseUserInfo">
            <img class="userPic" src="@Session["uphoto"]" />
            <span class="navbar-text">欢迎你 @Session["userId"]</span>
            <ul>
                <li><a>我的收获地址</a></li>
                <li><a>我的优惠信息</a></li>
                <li><a>我的支付工具</a></li>
            </ul>
        </div>
    </div>
    <div id="content" style="overflow:hidden">

        <h4>
            <strong>使用指南：</strong><br>
            <br><br>默认页面内容……
        </h4>

    </div>
</div>


<script type="text/javascript">

    /*
     * 对选中的标签激活active状态，对先前处于active状态但之后未被选中的标签取消active
     * （实现左侧菜单中的标签点击后变色的效果）
     */
    $(document).ready(function () {
        $(".nav-list li").click(function () {
            $("#right").css("margin-top", "-200px");
        });
    });

   
</script>





